<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer Money</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/signin.css">
    <link href="/js/jquery.maskedinput.min.js">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <h1>Transfer Money</h1>
    <h3 th:if="${error!=null}" th:text="${error}"/>
    <form th:action="@{/user/transfer}"  method="post">
        <select class="form-control" name="cardId" required>
            <option th:each="el:${cards}"  th:text='${el.cardNumber+" "+el.cash+" T"}' th:value="${el.id}"/>
        </select><br>
        <input type="text" id="card" class="form-control" placeholder="CardNumber"  required name="cardNumber"/><br>
        <input type="number" id="num" class="form-control" placeholder="Num"  required name="num"/><br>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<footer th:insert="blocks/footer::footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    $(document).ready(function ($) {
        $("#card").mask("9999-9999-9999-9999");
        $("#card").val("5522");
    });
</script>
</body>
</html>